body {
    font-family: trebuchet ms;
    background-image: url(https://xannyxu2.github.io/day10/rubiks.png);
    background-attachment: fixed;
    background-size: 70px;
    background-repeat: space;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*
this makes everything in the site look a certain way unless otherwise specified
*/
th, td {
    padding: 10px;
}
/*
every th and td has 10px of padding
*/
#background {
    background-color: #ffffffaa;
    width: 100%;
}
/*
this makes the background have a semitransparent white layer on it
*/
table {
    width: 100%;
}
/*
this makes every table fit the whole thing its in
*/
#body {
    width: 80%;
    background-color: #ffffff;
    margin: auto;
    margin-top: 144px;
    border-left: 1px solid #00000055;
    border-right: 1px solid #00000055;
}
/*
this id makes it so that the body can look smaller then the entire page
*/
footer {
    border-top: #000000 solid;
}
#header {
    border-bottom: #000000 solid;
    padding-top: 20px;
    position: fixed;
    top: 0;
    height: 121px;
    width: 100%;
}
/*
this mostly just makes it so the header is stuck at the top
*/
.articleHeader {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 20px;
    background-color: #8ea8eb;
}
/*
this makes it so the headers in the body look a certain way
*/
.headerFooter {
    background-color: #2f51b1;
    color: #ffffff;
}
/*
this makes the header and footer look the same
*/
td {
    width: 50%;
}
th {
    padding: 0;
    font-size: 30px;
}
.logo {
    width: 10%;
}
.headertext {
    width: 80%;
}
.indexarticlecontent {
    text-align: left;
    width: 66%;
}
.indexsectioncontent {
    width: 33%;
}
img {
    width: 150px;
}
a:visited, a:active, a:link {
    color: #8ea8eb;
}
a:hover {
    color: #000000;
}
.plans {
    width: 50%;
}
.plans:hover {
    width: 70%;
}
a {
    font-size: 20px;
    text-decoration: none;
}
.formheader {
    font-size: 25px;
}
.td1 {
    text-align: right;
}
.td2 {
    text-align: left;
}
@media only screen and (max-width: 720px) {
    nav {
        display: none;
    }
}
/*
this hides the nav in the header when the screen gets too small
*/
@media only screen and (max-width: 720px) {
    .logo {
        display: none;
    }
}
/*
this hides certain things in the header and footer when the screen is too small
*/
#th {
    font-size: 30px;
}
@media only screen and (max-width: 720px) {
    .td1 {
        display: block;
        width: 100%;
        text-align: center;
    }
}
/*
this realigns the form data when the screen is to small
*/
@media only screen and (max-width: 720px) {
    .td2 {
        display: block;
        width: 100%;
        text-align: center;
    }
}
/*
same as above (this probably isnt needed i could have given them the same tag but oh well)
*/
nav:hover{
    background-color: #8ea8eb;
}
/*
this "hides" the nav links when one is hovered on
*/
nav {
    color: #8ea8eb;
    margin: auto;
    width: 640px;
}
#helplink {
    width: 10%;
}
.footerlogo {
    width: 10%;
}
@media only screen and (min-width: 721px) {
    #mininav {
        display: none;
    }
}
/*
this makes the mini nav hidden when the screen is big enough for the regular nav
*/
#mininav {
    width: 100%;
}
/*
the mini nav is what shows instead of the nav when the screen is too small
*/
@media only screen and (max-width: 720px) {
    .indexsectioncontent img {
        width: 90%;
    }
}
/*
this makes the mini nav show
*/
.dropdowncontent {
    display:none;
    position: absolute;
    background-color: #2f51b1;
    border: 1px solid #000000;
    padding: 12px 16px;
}
/*
this is what determines how the content shows in the mini nav
*/
.dropdown:hover .dropdowncontent {
    display: block;
}
/*
this describes when the content shows in the mini nav
*/
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 20px; 
  color: #8ea8eb;
}
/*
this makes the mini nav look like all other links so that people can still figure out what to do with it
*/
#logoimage {
    width: 100%;
}
#devlogo {
    width: 100px;
}
#citationlink {
    font-size: 10px;
}
#aside {
    position: fixed;
    width: 9%;
    margin: 2px;
    margin-right: 0;
    border: black 1px solid;
    background-color: white;
}
aside {
    background-color: #8ea8eb;
    box-sizing: border-box;
    border: #2f51b1 solid 3px;
}
@media only screen and (max-width: 880px) {
    #aside {
        display: none;
    }
}
/*
this hides the aside before it looks wrong
*/
#topofpage {
    width: 0;
    height: 0;
}
@media only screen and (min-width: 1440px) {
    #logoimage {
        width: 130px;
    }
}
/*
this makes specifically the rubiks brand logo image not resize after a certain point so that the header doesnt break
*/
@media only screen and (max-height: 745px) {
    #aside {
        display: none;
    }
}
/*
this also hides the aside before it looks wrong
*/
@media only screen and (max-width: 720px) {
    .image {
        width: 90%;
    }
}
/*
this makes every image resize with the screen when the screen is small
*/
/*
Date Modified: July 21 2021
Modified By: Xander Bezanson
*/